header{
    width: 100%;
    display: flex;
    height: 75px;
    background-color: white;
    justify-content: space-around;
    
}

*{
    font-family: 'Young Serif', serif;    
}

body{
    border-radius: 10px;
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: 1fr;
}

.page{
    background-color: rgb(235, 230, 222);
}


.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(56, 55, 55);
}

.scroll{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

.logo img{
    margin-top: 80px;
    width: 150px;
    height: auto;
    border-radius: 20px;
}

.options{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin-top: 120px;
    line-height: 50px;
}

.options a{
    color: white;
    text-decoration: none;
}

.social_media{
    margin-top: 180px;
    text-align: center;
    color: wheat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social_media svg{
    width: 30px;
    height: auto;
    color: white;
}

.icons{
    margin-top: 20px;
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.contenedor_imagen img{
    width: 100%;
    height: 600px;
}

.contenedor_imagen {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor_imagen h1{
    position: absolute;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.wines_titles{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wines_titles h2{
    margin-top: 50px;
}

.list_wines{
    color: black;
    font-size: 40px;
}

.wines_categorities{
    font-size: 30px;
    color: gray;
}

.wines {
    margin-top: 40px;
    width: 100%;
    display: grid;
    padding: 2em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 40px;
}

.wine{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
}

.wine:hover{
    cursor: pointer;
}

.wine img{
    width: 250px;
    height: auto;
}
.page_nosotros{
    background-image: url("/ProyectoSPD/images/background_image_nosotros.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    text-align: center; 
    padding: 2em;
    
}
.page_nosotros h1 {
    margin-top: -250px;
}
.page_nosotros p {
    font-size: 22px;
}
.page_contacto{
    background-image: url("/ProyectoSPD/images/background_image_nosotros.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: black;
    text-align: center; 
    padding: 3em;
    
}

.formulario_contacto {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(49, 49, 49);
    padding: 40px;
    border-radius: 10px;
    color: #dfdfdf;
}

.btn_carrito{
    padding: 0.7em 1em;
    border-radius: 10px;
    border: 1px solid #dfdfdf;
    transition: background-color 0.3s; 
}

.btn_carrito:hover{
    background-color: #a09c9c;
}



@media screen and (max-width: 1300px) {
    .logo img{
        width: 120px;

    }
    .options, .social_media {
        margin-top: 70px;
    }

    .options {
        line-height: 2;
    }

    .social_media h5{
        font-size: 15px;
    }
}
